# Dependencies
node_modules/

# Build output
dist/
out/
*.deb
*.AppImage
*.snap
*.rpm

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment
.env
.env.local
